<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace= "purchase">

	<resultMap type="map" id="purchaseMap">
	</resultMap>
	
	<select id="selectPurchaseList" resultMap="purchaseMap">
		SELECT PURCHASE.PURCHASE_DATE, PURCHASE.RM_NO, RAW_MATERIAL.RM_NAME, PURCHASE.VENDOR_NO, VENDOR.VENDOR_NAME, PURCHASE.PURCHASE_AMOUNT 
		FROM PURCHASE LEFT JOIN VENDOR ON PURCHASE.VENDOR_NO = VENDOR.VENDOR_NO
              LEFT JOIN RAW_MATERIAL ON PURCHASE.RM_NO = RAW_MATERIAL.RM_NO
	</select>
	
	<select id="selectPurchaseInsertList" resultMap="purchaseMap">
	   SELECT ORDER_REQUEST.*, DELIVERY, DUE_DATE-(SYSDATE+DELIVERY) as EXPECT
	   FROM ORDER_REQUEST LEFT JOIN RAW_MATERIAL ON RAW_MATERIAL.RM_NO = ORDER_REQUEST.RM_NO
	   ORDER BY REQUEST_DATE DESC
	</select>
	
	
	
	<!-- 구매 등록시 구매등록과 동시에 구매요청테이블의 수량 줄이기  -->
	<select id="InsertPurchase" resultMap="purchaseMap">
	   INSERT INTO PURCHASE
	   VALUES(
	   #{rmNo},
	   #{vendorNo},
	   sysdate,
	   #{purchaseAmount}
	   )
	</select>
	
	<update id="UpdatePurchase">
		UPDATE ORDER_REQUEST
		SET REQUIRE_AMOUNT = REQUIRE_AMOUNT - #{purchaseAmount}
		WHERE RM_NO = #{rmNo}
	</update>
	
</mapper>