
/*페이지바*/
div#pageBar{margin-top:45px; text-align:center; }
div#pageBar span.cPage{color: #0066FF; margin-right: 5px;}
div#pageBar a{margin-right: 5px; }


.admin_member_info_wrapper{position: relative;}
#autoComplete_search{background-color: white; min-width: 159px; border: 1px solid gray; position: absolute; top: 55px; left:470px; padding:0; margin:0;}
#autoComplete_search li{padding:10px 10px; list-style:none; cursor:pointer; border:1px solid black;}
#autoComplete_search li.adminsel{background:#ccc; color:white;}
.admin_srchval{color:red;}

table {
	border-collapse: collapse;
	margin:auto;
}
th {
	padding: 10px 5px;
	border:1px solid #ccc;
	text-align: center;
	font-size:18px;
	background-color:#ccc;
}

td {
	border-bottom: 1px solid #ccc;
	padding: 7px 3px;
	text-align: center;
	font-size:15px;
}

#vist2{
margin : 0 auto;
}
path{fill:orange;}
.admin_chart{width:900px;;display:inline-block; padding-left:15px;}

.admin_chart div div svg text{font-size:16px;}

.admin_visit_table{padding-left:25px;position:absolute; display:inline-block;height:800px; width:300px;}

.admin_visit_title{color:orange; font-size:20px; text-align:center;}
.admin_visit_table #visit th:first-of-type{width:80px;}
.admin_visit_table #visit th:second-of-type{width:150px;}
.admin_visit_table #visit2 #pageBar .cPage{font-size:20px; } 

.admin_user_wrapper{display:inline-block; padding-left:15px; width:1180px; min-height:300px;}

#srchName_admin{margin-bottom:20px; width:200px; height:33px;}
.table_searchUser{margin-left:55px; }
.table_searchUser th{padding:10px 51px;}

.admin_user_info_table{margin-left:55px;}
.admin_user_info_table th{padding:10px 50px; }

.admin_member_info{padding-left:53px; }
.admin_member_info_list{ margin:0 auto; padding-bottom:30px;}

.admin_user_wrapper h2{padding-left:15px; padding-bottom:30px; }
.admin_user_wrapper{width:1100px;}