@charset "UTF-8";


body {
 position: relative;
 font-family: 'Oswald', sans-serif;
}

.grid {
 list-style: none;
 
}

.gc {
 box-sizing: border-box;
 display: inline-block;
 margin-right: -.25em;
 min-height: 1px;
 vertical-align: top;
}

.gc--1-of-3 {
 width: 14%;
 min-height:700px;
}
.gc--1-of-3 .menu{
	padding-top:37px;
}

.gc--2-of-3 {
 width: 66.66666%;
}

.naccs {
 position: relative;
 display:block;
 max-width: 1400px;

}
.mypage_main_food_list{
	min-height:500px;
	min-width:1200px;
	display:inline-block;
	z-index:1000px;
}
.mypage_main_title{
	position:relative;
	top:2%;
	font-size:30px;
	font-weight:bold;
	color:orange;
	padding-top:10px;
	padding-bottom:39px;
	text-align:center;
}

.food_list_image{display:inline-block;}
.food_list_image img{position:relative; padding-left :34px;  padding-bottom:5px;}
.food_list_type{display:inline-block; color:#ccc;}
.food_list_name{padding-left:30px; display:inline-block;  position:relative; font-size:25px; font-weight:bold; }
.food_list_grade{padding-left:3px; margin-top:10px;  display:inline-block; position:relative; font-size:22px; color:orange;}
.food_list_location{padding-left:30px; position:relative; padding-top:10px; padding-bottom:19px;}

.food_type_image{display:inline-block;}
.food_type_image img{position:relative; float:left; padding-left :34px;  padding-bottom:5px;}
.food_list_type2{position:absolute; color:#ccc;  width:189px; padding:6px; margin-top:108px; margin-left:34px;
				text-align:center; background-color:black;}

.naccs .menu div {
 padding: 15px 20px 15px 40px;
 margin-bottom: 10px;
 box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
 cursor: pointer;
 position: relative;
 vertical-align: middle;
 font-weight: 700;
 transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
 color:gray;
}

.naccs .menu div span.light {
 height: 10px;
 width: 10px;
 position: absolute;
 top: 24px;
 left: 15px;
 border-radius: 100%;
 transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

.naccs .menu div.active span.light {
	color:orange;
 left: 0;
 height: 100%;
 width: 3px;
 top: 0;
 border-radius: 0;
}

.naccs .menu div.active {
 padding: 15px 20px 15px 20px;
 position:relative;
 color:orange;
}

ul.nacc {
 position: relative;
 list-style: none;
 margin: 0;
 padding: 0;
 transition: .5s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li {
 opacity: 0;
 transform: translateX(50px);
 list-style: none;
 transition: 1s all cubic-bezier(0.075, 0.82, 0.165, 1);
}

ul.nacc li.active {
 transition-delay: .3s;
 z-index: 2;
 opacity: 1;
 transform: translateX(0px);
}

ul.nacc li p {
 margin: 0;
}



